body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

code  {
    font-size: 110%;
    background: #f4f4f4;
}
code.hljs {
    font-size: 110%;
    background: #f4f4f4;
}
code:not([class*="language-"]) {
    font-size: 110%;
    color: black;       /* black/ /*  #0550ae;   blue, like GitHub */
    background: #f4f4f4;
    padding: 2px 6px;
    border-radius: 4px;
}

